<div class="mb-5 container">
    <h2>Current User List</h2>
    <div class="container w-75" id="usersDiv">
        <table class="table table-striped">
            <thead>
                <td>ID</td>
                <td>Username</td>
                <td>Email</td>
                <td class="text-center">Admin?</td>
                <td class="text-center">Edit</td>
                <td class="text-center">Delete</td>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.user_name}}</td>
                    <td>{{user.email}}</td>
                    <td class="text-center">{{user.is_admin}}</td>
                    <td class="text-center"><i class="fas fa-pencil-alt"></i></td>
                    <td class="text-center"><i class="far fa-trash-alt"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>