/*font classes*/
.montserratFont {
	font-family: "Montserrat", sans-serif;
}

.arialFont {
	font-family: arial, sans-serif;
}

.cardBodyText {
	font-size: 12px;
}

.row {
	margin-left: -15px !important;
	margin-right: -15px !important;
}

h1 {
	margin-top: 20px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: #182a60;
}
h2 {
	margin-top: 20px;
	text-align: center;
	font-family: arial, sans-serif;
	color: #7c878e;
}



