/*sidebar styling*/
#filterText {
	font-size: 20px;
}
/* styling section cards*/
.card-title {
	font-size: 18px;
}
.cardImages {
	height: 150px;
}
.sidebar {
	min-height: 100%;
	left: 0;
	background-color: #182a60;
	padding-top: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
	.sidebar {
		margin-bottom: 0px;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.sidebar {
		margin-bottom: 0px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.sidebar {
		margin-bottom: 0px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.sidebar {
		margin-bottom: -200px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.sidebar {
		margin-bottom: -200px;
	}
}