/*sidebar styling*/
#filterText {
	font-size: 20px;
}
/* styling section cards*/
.card-title {
	font-size: 18px;
}
.cardImages {
	height: 150px;
}
/* hides no sections registered message*/
#noSectionMsg {
	display: none;
}