<!-- FOOTER -->
<footer class="bg-warning border-top border-white col-12 footer fixed-bottom">
    <!-- Social Media Links-->
    <div>
        <p id="followSoc" class="text-center text-danger montserratFont">Follow the UCMB</p>
    </div>
    <div class="text-white text-center display-4">
        <a href="https://www.facebook.com/UConnBand/" target="rptTab" title="facebook"><i
                class="fab fa-facebook-square mx-2"></i></a>
        <a href="https://www.instagram.com/uconnband/?hl=en" target="rptTab" title="instagram"><i
                class="fab fa-instagram mx-2"></i></a>
        <a href="https://twitter.com/UConnBand" target="rptTab" title="twitter"><i class="fab fa-twitter mx-2"></i></a>
        <a href="https://www.youtube.com/UConnBand" target="rptTab" title="youtube"><i
                class="fab fa-youtube mx-2"></i></a>
    </div>
    <div class="col-12 text-left">
        <p class="mx-2 text-white">Cori Trudeau - HartCode Academy 2019 <br>
            <span class="font-weight-light">Disclaimer: No affiliation with UConn or the UConn Marching Band. Site
                created for
                educational purposes only.</span></p>
    </div>
</footer>
<!--END FOOTER-->