<div class="col-xs-12 col-md-5 mx-auto container-fluid">
    <div class="mx-auto">
        <form>
            <fieldset class="border border-primary rounded p-2 my-3">
                <legend class="text-center w-50">Username: {{user_name}}</legend>
                <div class="row form-group">
                    <div class="col-12 form-check">
                        <label for="updateEmail">Email:</label>
                        <input class="form-control" name="email" type="text" value="{{user.email}}"
                            [(ngModel)]="email">
                    </div>
                </div>
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-primary my-3" type="btn" (click)="onUpdate()">Update Email</button>&nbsp;
                <button class="btn btn-primary my-3" type="btn" (click)="onCancel()">Revert Changes</button>&nbsp;
                <button class="btn btn-danger my-3" type="btn" (click)="onReqDel()">Delete Account</button>
            </div>
        </form>
        <div class="container mx-auto">
            <div class="container mx-auto">
                <div class="container mx-auto">
                    <div *ngIf="updateError" role="alert"
                        class="mx-auto p-3 bg-success border border-success rounded w-100">
                        <ul>
                            <li *ngFor="let error of errMsg">{{errMsg}}</li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="deleteRequest" role="alert" class="bg-success border border-success rounded">
                    <p class="m-2">Are you sure you want to delete your account?</p>
                    <div class="text-center">
                        <button class="btn btn-danger my-3" type="btn" (click)="onDelConf()">Confirm Delete Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>