<!--START NAV BAR-->
<nav class="navbar navbar-dark navbar-expand-md p-1 px-md-4 border-bottom shadow-sm bg-warning">
    <span class="navbar-brand mb-0 h1">
        <a id="navBarBrandLink" class="navHome" href="/"><img class="ml-2" src="/images/uconn-wordmark-single-white.png"
                alt="UConn Work mark logo" /> </a></span>
    <button class="navbar-toggler btn-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-right flex-row-reverse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a id="loginLink" class="nav-item nav-link p-2 mr-2 montserratFont inactive" href="/users/login">Login</a>
            <a id="regLink" class="nav-item nav-link p-2 mr-2 montserratFont inactive" href="/users/register">Register</a>
            <a id="sectionDashLink"class="nav-item nav-link p-2 mr-2 montserratFont active" href="/leagues">Section
                Dashboard</a>
            <a id="profileLink" class="nav-item nav-link p-2 mr-2 montserratFont inactive" href="/users/profile">User Profile</a>
            <a id="logoutLink" class="nav-item nav-link p-2 mr-2 montserratFont inactive" href="/users/logout">Log Out</a>

        </div>
    </div>
</nav>
<!--END NAV BAR-->