<!--START NAV BAR-->
<nav class="navbar navbar-dark navbar-expand-md p-1 px-md-4 border-bottom shadow-sm bg-warning">
    <span class="navbar-brand mb-0 h1">
        <a class="navHome" (click)="goHome()"><img class="ml-2" src="/assets/images/uconn-wordmark-single-white.png"
                alt="UConn Work mark logo" /> </a></span>
    <button class="navbar-toggler btn-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-right flex-row-reverse">
        <div class="navbar-nav">
            <a class="nav-item nav-link p-2 mr-2 montserratFont" (click)="goLogin()" *ngIf="!isAuth()">Login</a>
            <a class="nav-item nav-link p-2 mr-2 montserratFont" (click)="goRegister()" *ngIf="!isAuth()">Register</a>
            <a class="nav-item nav-link p-2 mr-2 montserratFont" (click)="goLeagues()" *ngIf="isAuth()">Section Dashboard</a>
            <a class="nav-item nav-link p-2 mr-2 montserratFont" (click)="goUpdate()" *ngIf="isAuth()">User Profile</a>
            <a class="nav-item nav-link p-2 mr-2 montserratFont" (click)="goAdmin()" *ngIf="isAdmin()">Admin</a>
            <a class="nav-item nav-link p-2 mr-2 montserratFont" (click)="goLogout()" *ngIf="isAuth()">Log Out</a>
        </div>
    </div>
</nav>
<!--END NAV BAR-->

